<!-- <div class = "container-bigCard">
    <div class = "bigCard-photo">
        <img [src]="photoCover" alt="" height="200px" width="200px" />
    </div>
    <div class = "bigCard-title">
        <h1><a [routerLink] = "['content', Id]">{{ cardTitle }}</a></h1>
    </div>
    <div class = "bigCard-description">
        <p>
            <a [routerLink] = "['content', Id]">
                {{ cardDescription }}
            </a>
        </p>
    </div>
</div> -->



<div class="big-card-container" [routerLink] = "['content', Id]">
    <img [src]="photoCover" alt="" />

    <div class="big-card-content">
        <h1 class="big-card-title">
            {{cardTitle}}
        </h1>
        <p>
            <a>
                {{ cardDescription }}
            </a>
        </p>
    </div>

</div>