.articles{
    margin-top: 30px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.aticles-main{
    margin-bottom: 300px;
}

@media (max-width: 768px){
    .articles{
        flex-direction: column;
    }
}